.convertisseur{
    text-align: center;
    color: black;
    font-weight: bold;
    font-family: "montserrat", sans-serif;
}

#somme{
    color: black;
    font-family4: bold;
    font-family: "montserrat", sans-serif;
}

#monnaie1 {
    color: black;
    font-family4: bold;
    font-family: "montserrat", sans-serif;
}

#monnaie2{
    color: black;
    font-family4: bold;
    font-family: "montserrat", sans-serif;
}